.partner-projects {
  padding-top: 48px;
  padding-bottom: calc(48px - 32px);
  //border-bottom: 1.5px solid $black;

  @media (min-width: $screen-md) {
    padding-top: 64px;
    padding-bottom: calc(64px - 32px);
  }

  $block-name:                &; // #{$block-name}__element

  &__header {
    margin-bottom: 24px;

    @media (min-width: $screen-md) {
      max-width: calc(75% - 16px);
    }

    @media (min-width: $screen-xl) {
      max-width: calc(50% - 16px);
    }
  }

  &__col {
    @include col(xs, 16);
    @include col(sm, 8);
    @include col(lg, 4);
    margin-bottom: 32px;
  }

  &__img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: $border-radius;
    border: 1px solid transparent;
    overflow: hidden;

    // &:hover,
    // &:focus {
    //   border-color: #ff0000;
    // }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}
