.lang-switcher {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  $block-name:                &; // #{$block-name}__element

  &__item {

    & + & {
      margin-top: 0;
      margin-left: 12px;
    }

    &.active {

      #{$block-name}__link {
        color: $text-color;
        background-color: $white;
        pointer-events: none;
      }
    }
  }

  &__link {
    display: inline-block;
    vertical-align: top;
    padding: 5px 12px 3px;
    font-size: inherit;
    font-weight: 500;
    text-decoration: none !important;
    color: inherit;
    border-radius: $border-radius;
    user-select: none;

    &:hover,
    &:focus {
      color: $text-color;
      background-color: $white;
    }
  }
}
