.category-index {
  padding-top: 48px;
  padding-bottom: 48px;
  border-bottom: 1.5px solid $black;

  @media (min-width: $screen-md) {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  $block-name:                &; // #{$block-name}__element

  &__header {
    margin-bottom: 24px;

    @media (min-width: $screen-md) {
      max-width: calc(75% - 16px);
    }

    @media (min-width: $screen-xl) {
      max-width: calc(50% - 16px);
    }
  }

  &__diagram-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
  }
}
