.copyrights {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  text-align: center;

  @media (min-width: $screen-md) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: left;
  }

  @media (min-width: $screen-xl) {
    padding-top: 16px;
    border-top: 1.5px solid rgba($white, 0.15);
  }

  $block-name:                &; // #{$block-name}__element

  &__owner {
    flex: 1 1;
    flex-basis: auto;

    @media (max-width: $screen-md - 1) {
      margin-bottom: 16px;
    }
  }

  &__dev {
    flex: 0 0;
    align-self: center;
    flex-basis: 32px;

    @media (min-width: $screen-md) {
      flex-basis: 85px;
      margin-left: 32px;
    }

    img {
      display: block;
      width: 85px;
      height: 32px;
    }
  }
}
